tensorflow==2.18
kafka-python==2.1.2
mlflow==2.20.3
yfinance==0.2.59
websockets==15.0.1
pandas==2.2.2
numpy
statsmodels==0.14
scikit-learn==1.6.1
fastapi==0.115.11
uvicorn[standard]==0.34.0 
boto3
openai
plotly
sentence-transformers
tf-keras
